:root {
  --light-text: #FFFFFFD0;
  --dark-bg: darkred;
}

@font-face {
  font-family: "DEADCRT";
  src: url("DEADCRT.ttf")
}

header {
  background-color: var(--dark-bg);
  height: 10vh;
  width: 100vw;
}

.site-title {
  display: flex;
  align-items: center;
  font-family: "DEADCRT";
  /* background-color: var(--dark-bg); */
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  /* height: 10vh; */
  /* width: 100vw; */
  padding-bottom: 1em;
  position: fixed;
  top: 0px;
  z-index: 99;
}

#hero-img {
  background-image: url("hero-bg.jpg");
  min-height: 60vh;
  background-size: cover;
}

#pitch-bar {
  min-height: 30vh;
  background-color: var(--dark-bg);
  color: var(--light-text);
}

.txt-lt {
  color: var(--light-text);
}

.bg-drk {
  background-color: var(--dark-bg);
}

@media only screen and (min-width: 768px) {
  .hanging-card {
    min-height: 30vh;
    position: relative;
    top: 10vh;
  }

  /* Push Down 15vh */
  .mt-md-15vh {
    margin-top: 15vh;
  }
}


#pitch {
  background-image: linear-gradient(135deg, #c90051, #194bd3);
}

img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.full-height {
  height: 100%;
}

.left-bar {
  border-left-width: 0.4em;
  border-left-style: solid;
  border-left-color: var(--dark-bg);
}

.sq {
  border-radius: 0px;
}

.bg-trans {
  background-color: #00000040;
}

.bg-blur {
  background-color: transparent;
  backdrop-filter: blur(8px);
}

.form-control {
  background-color: #D0D0D080;
  border-radius: 0px;
  border-width: 0px;
}

.btn {
  border-radius: 0px;
  color: white;
  background-color: darkred;
}

.bg-dgry {
  background-color: #2e2e2e;
}

.mh-40-v {
  min-height: 40vh;
}

.bg-grey {
  background-color: #777374;
}

.txt-red {
  color: darkred;
}

.mh-20vh {
  min-height: 20vh;
}

.mh-10vh {
  min-height: 10vh;
}